nav{
    margin: 3%;
    background-color: white;
}

main{
     min-height: calc(100vh - 60px);
}

a[class="nav-link"]{
    font-size: 20px;
    font-weight: 700;
}

div[class="collapse navbar-collapse"]{
    margin-left: 3%;
}

li[class="nav-item"]{
    margin-right: 20px;
}

footer{
    background-color: #dcdcdc;
    margin-top: 20px;
}

.fq_form{
    resize: none;
}

.date_pub{
    font-size: 14px;
    font-weight: 200;
}

a.name_post{
    text-decoration:none;
    color: black;
    transition: color 0.2s /*ease-out 0.25s*/;
}
a.name_post:hover{
    color: #3da2b7;
}

nav[aria-label="Page navigation example"]{
    margin: auto;
}

a[class="page-link"]{
    color: #3da2b7;
}

img{
    margin-bottom: 20px;
    max-height: 250px;
    max-width: 500px;
}

img.in{
    max-height: 500px;
    max-width: 100%;
}