{% extends 'base.html' %}

{% block title %}
	{{ block.super }} - Articles
{% endblock %}

{% block main %}
	{% for article in articles_list %}
		<h1>{{ article.title }}</h1>
		<p class="date_pub">{{ article.date_pub }}</p>

		<div>{{ article.body|truncatechars:300|safe }}</div>
		{% if article.body|length > 120 %}
			<a href="{% url 'article_detail_url' slug=article.slug %}">read more</a>
		{% endif %}
		<div><a href="{% url 'article_detail_url' slug=article.slug %}" class="btn btn-info" style="margin-top: 20px">Learn more</a></div>
		<hr>
	{% endfor %}
{% endblock %}